
# Jupyter Notebook
.ipynb_checkpoints
*-checkpoint.ipynb

# OS: macOS
.DS_Store

# OS: Windows
desktop.ini

# Python
/build
/dist
/.cache
__pycache__
*.egg
*.egg-info
*.pyc

# Python: coverage
/htmlcov
/.coverage
