include setup_boilerplate.py
include *requirements.txt
include extras_requirements.json
include LICENSE
include NOTICE
recursive-include ./transpyle/resources *.*
recursive-include ./test/examples *.*
