argunparse
astunparse
colorama
colorlog
encrypted-config
horast ~= 0.4.0
pandas
setuptools >= 41.0
static-typing ~= 0.2.7
typed_ast ~= 1.4
typed-astunparse >= 2.1.4, == 2.*
version-query >= 1.0.5, == 1.*
